<div>
  <h1>Employees</h1>
<table mat-table [dataSource]="data._embedded.employees" class="mat-elevation-z8" *ngIf="data">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> lastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> birthDate</th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} 
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click) = modifieRow(element.id) class="margine" >
              <mat-icon>create</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click) = deleteRow(element.id) >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  
  
    <button (click) = firstPage() [disabled] = "!data?._links?.first"> &lt; &lt; </button>
    <button (click) = pageDown() [disabled] = "!data?._links?.prev"> &lt; </button>
    <button (click) = pageUp() [disabled] = "!data?._links?.next"> &gt; </button>
    <button (click) = lastPage() [disabled] = "!data?._links?.last"> &gt; &gt; </button>

    <br>
    <br>

    <!--*(ngSubmit)="stampa(myform)">-->
    <form #myform = "ngForm" (ngSubmit)="addRow(myform)" [hidden]="isDisplayed">
      
      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>firstName</mat-label>
        <input matInput name="firstName" ngModel required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>LastName</mat-label>
        <input matInput name="lastName" ngModel required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>birthDate</mat-label>
        <input matInput [matDatepicker]="datepicker" name="birthDate" ngModel required>
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker #datepicker>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput name="gender" ngModel required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Hiredate</mat-label>
        <input matInput [matDatepicker]="datepicker" name="hireDate" ngModel required>
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker #datepicker>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput name="id" ngModel required>
      </mat-form-field>
      
      <input type="submit" value="Insert">

  </form>

<!--
    <form method="">
      <h1>Insert Employee</h1>
      <mat-form-field class="">
        <mat-label>firstName</mat-label>
        <input matInput name = "nome">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>lastName</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>birthDate</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>gender</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>hireDate</mat-label>
        <input matInput>
      </mat-form-field> -->

    

</div>