<div>
<table mat-table [dataSource]="data._embedded.employees" class="mat-elevation-z8" *ngIf="data">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> lastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> birthDate</th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} 
          <button mat-button (click) = deleteRow(element) >Delete</button>
        </td>
        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  
  
    <button (click) = firstPage() [disabled] = "!data?._links?.first"> &lt; &lt; </button>
    <button (click) = pageDown() [disabled] = "!data?._links?.prev"> &lt; </button>
    <button (click) = pageUp() [disabled] = "!data?._links?.next"> &gt; </button>
    <button (click) = lastPage() [disabled] = "!data?._links?.last"> &gt; &gt; </button>


  
</div>